<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
    {% include "head.html" %}
</head>

<body>
    {% block userLogin %}
    {% endblock %}
    {% block changePasswordFirstLogin %}
    {% endblock %}
    {% block forgetPassword %}
    {% endblock %}
    <div class="wrapper">
        <!-- Sidebar -->
        {% include "sidebar.html" %}
        <!-- End Sidebar -->

        <div class="main-panel">
            {% include "navbar.html" %}
            
            {% if user.role.id == 1 %}
                {% block AdminDashboard %}
                {% endblock %}
                {% block AdminFusionAdd %}
                {% endblock %}
                {% block AdminFusionView %}
                {% endblock %}
                {% block AdminProduct %}
                {% endblock %}
                {% block AdminStationAdd %}
                {% endblock %}
                {% block AdminStationView %}
                {% endblock %}
                {% block AdminPumpAdd %}
                {% endblock %}
                {% block AdminPumpView %}
                {% endblock %}
                {% block AdminNozzleAdd %}
                {% endblock %}
                {% block AdminNozzleView %}
                {% endblock %}
                {% block AdminScreenAdd %}
                {% endblock %}
                {% block AdminScreenView %}
                {% endblock %}
            {% endif %}
            {% block changePassword %}
            {% endblock %}
            {% include "footer.html" %}
        </div>

        <!-- Custom template | don't include it in your project! -->
        {% include "theme.html" %}
        <!-- End Custom template -->
    </div>
    {% include "scripts.html" %}
</body>

</html>