{% load static %}

<script type="text/javascript" src="{% static 'js/jquery.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/bootstrap/bootstrap.bundle.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/filepond.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/filepond-plugin-image-preview.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/filepond-plugin-image-exif-orientation.js' %}"></script>
<script type="text/javascript" src="{% static 'js/filepond-plugin-file-validate-size.js' %}"></script>
<script type="text/javascript" src="{% static 'js/filepond-plugin-file-encode.js' %}"></script>
<script type="text/javascript" src="{% static 'js/filepond.jquery.js' %}"></script>
<script type="text/javascript" src="{% static 'js/moment.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/tableExport.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jspdf.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jspdf.plugin.autotable.js' %}"></script>
<script type="text/javascript" src="{% static 'js/html2canvas.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/bootstrap-table/bootstrap-table.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/bootstrap/bootstrap-select.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/bootstrap-table/extensions/print/bootstrap-table-print.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/bootstrap-table/extensions/mobile/bootstrap-table-mobile.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/bootstrap-table/extensions/key-events/bootstrap-table-key-events.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/bootstrap-table/extensions/filter-control/bootstrap-table-filter-control.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/bootstrap-table/extensions/export/bootstrap-table-export.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/scripts.js' %}"></script>
<script type="text/javascript" src="{% static 'js/loader.js' %}"></script>
<script type="text/javascript" src="{% static 'js/charts/loader.js' %}"></script>
<script type="text/javascript" src="{% static 'js/charts/51/loader.js' %}"></script>
<script type="text/javascript" src="{% static 'js/charts/51/js/jsapi_compiled_default_module.js' %}"></script>
<script type="text/javascript" src="{% static 'js/charts/51/js/jsapi_compiled_graphics_module.js' %}"></script>
<script type="text/javascript" src="{% static 'js/charts/51/js/jsapi_compiled_ui_module.js' %}"></script>
<script type="text/javascript" src="{% static 'js/charts/51/third_party/dygraphs/dygraph-tickers-combined.js' %}"></script>
<script type="text/javascript" src="{% static 'js/charts/51/third_party/webfontloader/webfont.js' %}"></script>




