{% extends "base.html" %}
{% load static %}
{% block AdminProduct %}
<main>
    <div class="container-fluid px-4">
        <div class="row mt-4">
            <div class="col-xl-9">
                <div class="card mb-4">
                    <div class="card-header bg-dark text-white" style="cursor: pointer;">
                        <div class="col-xl-12">
                            <i class="fa-solid fa-fire-flame-simple me-1"></i>
                            Product | Add
                        </div>
                    </div>
                    <div class="card-body text-center">
                        <div class="row">
                            <div class="col-4 d-flex justify-content-center align-items-center">
                                <h5 class="m-0">Product Number</h5>
                            </div>
                            <div class="col-8">
                                <input class="form-control" type="number" min="0" id="product_num" placeholder="Enter Product Number">
                            </div>
                        </div>
                        <div class="row mt-2">
                            <div class="col-4 d-flex justify-content-center align-items-center">
                                <h5 class="m-0">Product Name</h5>
                            </div>
                            <div class="col-8">
                                <input class="form-control" type="text" id="product_name" placeholder="Enter Product Name">
                            </div>
                        </div>
                        <div class="row mt-2">
                            <div class="col-4 d-flex justify-content-center align-items-center">
                                <h5 class="m-0">Product Price</h5>
                            </div>
                            <div class="col-8">
                                <input class="form-control" type="number" id="product_price" placeholder="Enter Product Price">
                            </div>
                        </div>
                        <div class="row mt-4">
                            <div class="col-8">
                                <h5 class="m-0 d-none" id="error_msg"></h5>
                            </div>
                            <div class="col-2">
                                <button class="btn btn-dark px-4" onclick="resetProduct()">Reset</button>
                            </div>
                            <div class="col-2">
                                <button class="btn btn-success px-4" onclick="submitProduct()">Submit</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3">
                <div class="card mb-4">
                    <div class="card-header bg-dark text-white" style="cursor: pointer;">
                        <div class="col-xl-12">
                            <i class="fa-solid fa-fire-flame-simple me-1"></i>
                            Products Number
                        </div>
                    </div>
                    <div class="card-body text-center d-flex justify-content-center align-items-center">
                        <h1 class="m-0" style="font-size: 60px;" id="products_num">{{products|length}}</h1>
                    </div>
                </div>
            </div>
        </div>
        <div class="row d-none" id="miniloader">
            <div class="col-12 text-center">
                <span class="loader">L &nbsp; ading</span>
            </div>
        </div>
        <div class="card mb-4 mt-3">
            <div class="card-header bg-dark text-white">
                <i class="fas fa-table me-1"></i>
                Product Table | View | Delete
            </div>
            <div class="card-body table-striped">
                <div id="toolbar" class="select" style="display: flex;">
                    <input type="text" class="form-control" style="margin-right:5px;" id="exportFileName"
                        placeholder="Export File Name">
                    <select class="form-control" style="margin-right:5px;">
                        <option value="">Export Basic</option>
                        <option value="all">Export All</option>
                        <option value="selected">Export Selected</option>
                    </select>
                    <button class="btn" style="color: #fff;background-color: #6c757d" id="print_selected">Print
                        Selected</button>
                </div>
                <table id="productTbl" data-toggle="table" data-pagination="true" data-search="true"
                    data-show-columns="true" data-show-toggle="true" data-show-columns-search="true"
                    data-show-pagination-switch="true" data-show-fullscreen="true" data-searchable="true"
                    data-show-print="true" data-print-as-filtered-and-sorted-on-ui="true"
                    data-mobile-responsive="true" data-key-events="true" data-show-search-clear-button="true"
                    data-filter-control="true" data-show-export="true" data-click-to-select="true"
                    data-toolbar="#toolbar" data-unique-id="id">
                    <thead>
                        <tr>
                            <th data-field="state" data-checkbox="true" data-visible="false"></th>
                            <th data-field="id" data-sortable="true" data-filter-control="input">ID</th>
                            <th data-field="number" data-sortable="true" data-filter-control="input">Number</th>
                            <th data-field="name" data-sortable="true" data-filter-control="input">Name</th>
                            <th data-field="price" data-sortable="true" data-filter-control="input">Price</th>
                            <th data-field="timestamp" data-sortable="true" data-filter-control="input">Timestamp</th>
                            <th data-field="actions" data-sortable="true" data-filter-control="input">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for product in products %}
                        <tr>
                            <td></td>
                            <td>{{product.id}}</td>
                            <td>{{product.number}}</td>
                            <td>{{product.name}}</td>
                            <td>{{product.price}}</td>
                            <td>{{product.timestamp}}</td>
                            <td>
                                <button class="btn btn-dark w-100" onclick="deleteProduct('{{product.id}}')">Delete</button>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</main>
<script type="text/javascript" src="{% static 'js/AdminProduct.js' %}"></script>
{% endblock %}