{% extends "base.html" %}
{% load static %}

{% block changePassword %}
<main>
    <div class="container-fluid px-4">
        <div class="row" style="width: 100%;">
            <div class="col-xl-6 m-auto">
                <div class="card mb-4" style="background-color: #212529;">
                    <div class="card-body">
                        <form method="POST" action="">
                            {% csrf_token %}
                            <div class="row">
                                <div class="col-12 text-center">
                                    <h2 style="font-size: 60px;font-weight:400;color:#ffffff;text-shadow: 2px 2px 10px #ffffff;margin-bottom: 40px;">Change Password</h2>
                                </div>
                            </div>
                            <div class="row" style="display: flex;justify-content: center;align-items: center;">
                                <div class="col-10">
                                    <input type="hidden" name="userid" value="{{user.id}}">
                                    <input id="email" class="form-control" value="{{user.first_name|capfirst}} {{user.last_name|capfirst}}" name="reg_username" style="width: 100%;margin-bottom: 20px;" type="text" placeholder="Registerd Username" required readonly>
                                </div>
                            </div>
                            <div class="row" style="display: flex;justify-content: center;align-items: center;">
                                <div class="col-10">
                                    <input id="new_password" name="new_password" class="form-control" type="password" placeholder="New Password" style="width: 100%;margin-bottom: 20px;" required>
                                </div>
                            </div>
                            <div class="row" style="display: flex;justify-content: center;align-items: center;">
                                <div class="col-10">
                                    <input id="re_password" class="form-control" onkeyup="checkForgetPassword()" type="password" placeholder="Re Password" style="width: 100%;margin-bottom: 20px;" required>
                                </div>
                            </div>
                            <div class="row" style="display: flex;justify-content: center;align-items: center;">
                                <div class="col-md-3">
                                    <input id="forgetPasswordBtn" class="btn btn-success" style="width: 100%;" type="submit" value="Confirm">
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        {% if 'change' in request.GET %}
        <div class="row">
            <div class="col-12 text-center">
                <h1 style="font-size: 60px;font-weight: bold;color: #198754">Password Changed Successfully <i class="fa-solid fa-check"></i></h1>
            </div>
        </div>
        {% endif %}
    </div>
    <script type="text/javascript" src="{% static 'js/forgetPassword.js' %}"></script>
</main>
{% endblock %}

