{% extends "base.html" %}

{% block ManagerProject %}
<main>
    <div class="container-fluid px-4">
        <div class="row" style="margin-top: 5%;">
            <div class="col-xl-12">
                <div class="card">
                    <div class="card-header bg-dark text-white card-date-filter">
                        <div class="col-xl-12">
                            <i class="fa-solid fa-list-ul me-1"></i>
                            Projects List
                        </div>
                    </div>
                    <div class="card-body make-my-scrollable" style="max-height: 400px;">
                        <input class="form-control mb-2" id="projectSearch" type="text" placeholder="Search...">
                        <div class="list-group" id="projectResultContainer">
                            {% for project in projects %}
                            <button type="button" class="list-group-item list-group-item-action tank-toggle-button"
                                data-toggle="collapse" data-target="#collapse_{{project.0}}" aria-expanded="false" aria-controls="collapse_{{project.0}}">
                                {{project.0}}
                                <span class="badge badge-dark badge-pill" title="Vendors">{{project.1}}</span>
                            </button>
                            <div class="collapse" id="collapse_{{project.0}}">
                                <div class="card card-body">
                                    {% for vendor in project.2 %}
                                    <div class="row">
                                        <div class="col-2 d-flex justify-content-center align-items-center">
                                            <i class="fa-solid fa-user-tie"></i>
                                        </div>
                                        <div class="col-10 d-flex justify-content-start align-items-center">
                                            <h6 class="m-0">{{vendor.name|upper}}</h6>
                                        </div>
                                    </div>
                                    <hr class="m-0">
                                    {% endfor %}
                                </div>
                              </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock %}

