{% extends "base.html" %}
{% load static %}

{% block NewInvoice %}
<main>
    <div class="container-fluid px-4">
        <div class="row mt-2">
            <div class="col-xl-5">
                <div class="card mb-2">
                    <div class="card-header bg-dark text-white">
                        <div class="row">
                            <div class="col-8 d-flex justify-content-left align-items-center">
                                <i class="fa-solid fa-file-circle-plus me-1"></i>
                                Add Invoice Details
                            </div>
                            <div class="col-4 d-flex justify-content-end align-items-center">
                                <label style="margin: 0;"><span style="color: #dc3545;">* Required Fields</span></label>
                            </div>
                        </div>
                    </div>
                    <div class="card-body charts-body">
                        <div class="row">
                            <div class="col-5 d-flex justify-content-start align-items-center">
                                <label style="margin: 0;">P.O. Number <span style="color: #dc3545;">*</span></label>
                            </div>
                            <div class="col-7">
                                <!-- <input type="text" class="form-control" name="po" id="po" placeholder="0"> -->
                                <select class="selectpicker form-control" name="po" id="po" data-live-search="true">
                                    <option value="" selected disabled>Choose Number</option>
                                    {% for por in PO_results %}
                                    <option value="{{por.0}}">{{por.1}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="row mt-2">
                            <div class="col">
                                <div class="card">
                                    <div class="card-header bg-dark text-white p-0 d-flex justify-content-center align-items-center">
                                        <label style="margin: 0;">Paid</label>
                                    </div>
                                    <div class="card-body d-flex justify-content-center align-items-center" style="border-radius: 5px;">
                                        <label style="margin: 0;font-size: 20px;" id="PO_payed">0</label>
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="card">
                                    <div class="card-header bg-dark text-white p-0 d-flex justify-content-center align-items-center">
                                        <label style="margin: 0;">Remaining</label>
                                    </div>
                                    <div class="card-body d-flex justify-content-center align-items-center" style="border-radius: 5px;">
                                        <label style="margin: 0;font-size: 20px;" id="PO_remaining">0</label>
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="card">
                                    <div class="card-header bg-dark text-white p-0 d-flex justify-content-center align-items-center">
                                        <label style="margin: 0;">Total</label>
                                    </div>
                                    <div class="card-body d-flex justify-content-center align-items-center" style="border-radius: 5px;">
                                        <label style="margin: 0;font-size: 20px;" id="PO_total">0</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row mt-2">
                            <div class="col-5 d-flex justify-content-start align-items-center">
                                <label style="margin: 0;">Milestones <span style="color: #dc3545;">*</span></label>
                            </div>
                            <div class="col-7">
                                <select class="selectpicker form-control" name="milestone" id="milestone" data-live-search="true" disabled>
                                    <option value="" selected disabled>Choose Milestone</option>
                                    <!-- fill with js -->
                                </select>
                            </div>
                        </div>
                        <div class="row d-none mt-2" id="milestone_desc_row">
                            <div class="col-12">
                                <div class="card">
                                    <div class="card-body bg-dark">
                                        <div class="row">
                                            <div class="col">
                                                <div class="card">
                                                    <div class="card-header bg-secondary text-white p-0 d-flex justify-content-center align-items-center">
                                                        <label style="margin: 0;">Paid</label>
                                                    </div>
                                                    <div class="card-body d-flex justify-content-center align-items-center" style="border-radius: 5px;">
                                                        <label style="margin: 0;font-size: 20px;" id="MPO_payed">0</label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col">
                                                <div class="card">
                                                    <div class="card-header bg-secondary text-white p-0 d-flex justify-content-center align-items-center">
                                                        <label style="margin: 0;">Remaining</label>
                                                    </div>
                                                    <div class="card-body d-flex justify-content-center align-items-center" style="border-radius: 5px;">
                                                        <label style="margin: 0;font-size: 20px;" id="MPO_remaining">0</label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col">
                                                <div class="card">
                                                    <div class="card-header bg-secondary text-white p-0 d-flex justify-content-center align-items-center">
                                                        <label style="margin: 0;">Total</label>
                                                    </div>
                                                    <div class="card-body d-flex justify-content-center align-items-center" style="border-radius: 5px;">
                                                        <label style="margin: 0;font-size: 20px;" id="MPO_total">0</label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row mt-2">
                                            <div class="col-12 d-flex justify-content-center align-items-center">
                                                <textarea class="form-control" name="milestone_description" id="milestone_description" cols="30" rows="2" readonly></textarea>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row mt-2">
                            <div class="col-5 d-flex justify-content-start align-items-center">
                                <label style="margin: 0;">Vendor Name <span style="color: #dc3545;">*</span></label>
                            </div>
                            <div class="col-7">
                                <select class="selectpicker form-control" id="vendor" disabled>
                                    <option value="{{vendor.0}}" id="{{vendor.1}}" selected>{{vendor.1}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="row mt-2">
                            <div class="col-5 d-flex justify-content-start align-items-center">
                                <label style="margin: 0;">Project Name <span style="color: #dc3545;">*</span></label>
                            </div>
                            <div class="col-7">
                                <input type="hidden" class="form-control" name="project_id" id="project_id" placeholder="Project ID" disabled>
                                <input type="text" class="form-control" name="project_name" id="project_name" placeholder="Project Name" disabled>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-header bg-dark text-white">
                                <i class="fa-solid fa-upload me-1"></i>
                                Upload Attachments
                            </div>
                            <div class="card-body make-my-scrollable" style="max-height: 295px;">
                                <input type="file" class="my-pond mb-0" name="filepond" id="fileInput"/>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-5">
                <div class="card mb-2">
                    <div class="card-header bg-dark text-white">
                        <div class="row">
                            <div class="col-8 d-flex justify-content-left align-items-center">
                                <i class="fa-solid fa-file-circle-plus me-1"></i>
                                Add Invoice Details
                            </div>
                            <div class="col-4 d-flex justify-content-end align-items-center">
                                <label style="margin: 0;"><span style="color: #dc3545;">* Required Fields</span></label>
                            </div>
                        </div>
                    </div>
                    <div class="card-body charts-body">
                        <div class="row">
                            <div class="col-5 d-flex justify-content-start align-items-center">
                                <label style="margin: 0;">Invoice Number <span style="color: #dc3545;">*</span></label>
                            </div>
                            <div class="col-7">
                                <input type="number" min="0" class="form-control" name="number" id="number" placeholder="Number" disabled>
                            </div>
                        </div>
                        <div class="row mt-2">
                            <div class="col-5 d-flex justify-content-start align-items-center">
                                <label style="margin: 0;">Invoice Date <span style="color: #dc3545;">*</span></label>
                            </div>
                            <div class="col-7">
                                <input type="date" class="form-control" name="date" id="date" disabled>
                            </div>
                        </div>
                        <div class="row mt-2">
                            <div class="col-5 d-flex justify-content-start align-items-center">
                                <label style="margin: 0;">Invoice Amount <span style="color: #dc3545;">*</span></label>
                            </div>
                            <div class="col-7">
                                <input type="number" min="0" class="form-control" name="amount" id="amount" placeholder="Number" disabled>
                            </div>
                        </div>
                        <div class="row mt-2">
                            <div class="col-5 d-flex justify-content-start align-items-center">
                                <label style="margin: 0;">Payment Due <span style="color: #dc3545;">*</span></label>
                            </div>
                            <div class="col-5">
                                <input type="number" class="form-control" name="due" id="due" placeholder="Number" min="0" disabled>
                            </div>
                            <div class="col-2 d-flex justify-content-center align-items-center">
                                <label style="margin: 0;">Days</label>
                            </div>
                        </div>
                        <div class="row mt-2">
                            <div class="col-5 d-flex justify-content-start align-items-center">
                                <label style="margin: 0;">Bill To <span style="color: #dc3545;">*</span></label>
                            </div>
                            <div class="col-7">
                                <input type="text" class="form-control" name="bill_to" id="bill_to" placeholder="customer name" disabled>
                            </div>
                        </div>
                        <div class="row mt-2">
                            <div class="col-5 d-flex justify-content-start align-items-center">
                                <label style="margin: 0;">Invoice Type <span style="color: #dc3545;">*</span></label>
                            </div>
                            <div class="col-7">
                                <select class="form-control" id="type" name="type" disabled>
                                    <option value="" selected disabled>Choose Type...</option>
                                    {% for type in types %}
                                    <option value="{{type.0}}" id="{{type.1}}">{{type.1}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="row mt-2">
                            <div class="col-5 d-flex justify-content-start align-items-center">
                                <label style="margin: 0;">Currency <span style="color: #dc3545;">*</span></label>
                            </div>
                            <div class="col-7">
                                <select class="form-control" id="currency" name="currency" disabled>
                                    <option value="" selected disabled>Choose Currency...</option>
                                    {% for currency in currencies %}
                                    <option value="{{currency.0}}" id="{{currency.1}}">{{currency.1}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="row mt-2">
                            <div class="col-5 d-flex justify-content-start align-items-center">
                                <label style="margin: 0;">VAT <span style="color: #dc3545;">*</span></label>
                            </div>
                            <div class="col-7">
                                <select class="form-control" id="vat" name="vat" disabled>
                                    <option value="" selected disabled>Choose VAT...</option>
                                    {% for vat in vats %}
                                    <option value="{{vat.0}}" id="{{vat.1}}">{{vat.1}} %</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="row mt-2">
                            <div class="col">
                                <div class="card">
                                    <div class="card-header bg-dark text-white p-0 d-flex justify-content-center align-items-center">
                                        <label style="margin: 0;">Amount</label>
                                    </div>
                                    <div class="card-body d-flex justify-content-center align-items-center" style="border-radius: 5px;">
                                        <label style="margin: 0;font-size: 20px;" id="calcAmount">0</label>
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="card">
                                    <div class="card-header bg-dark text-white p-0 d-flex justify-content-center align-items-center">
                                        <label style="margin: 0;">VAT</label>
                                    </div>
                                    <div class="card-body d-flex justify-content-center align-items-center" style="border-radius: 5px;">
                                        <label style="margin: 0;font-size: 20px;" id="calcVat">0</label>
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="card">
                                    <div class="card-header bg-dark text-white p-0 d-flex justify-content-center align-items-center">
                                        <label style="margin: 0;">Total</label>
                                    </div>
                                    <div class="card-body d-flex justify-content-center align-items-center" style="border-radius: 5px;">
                                        <label style="margin: 0;font-size: 20px;" id="calcTotal">0</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-2">
                <div class="card">
                    <div class="card-header bg-dark text-white">
                        <i class="fa-solid fa-bolt me-1"></i>
                        Action Buttons
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-12 d-flex justify-content-center align-items-center">
                                <button class="btn btn-primary" style="width: 100%;" onclick="VerifyInvoice()">
                                    Verify Invoice
                                </button>
                            </div>
                        </div>
                        <div class="row mt-4">
                            <div class="col-12 d-flex justify-content-center align-items-center">
                                <button class="btn btn-dark" style="width: 100%;" disabled id="calcBtn" onclick="CalculateInvoice()">
                                    Calculate Invoice
                                </button>
                            </div>
                        </div>
                        <div class="row mt-4">
                            <div class="col-12 d-flex justify-content-center align-items-center">
                                <button class="btn btn-secondary" style="width: 100%;" disabled id="reviewBtn" onclick="ReviewInvoice()">
                                    Review Invoice
                                </button>
                            </div>
                        </div>
                        <hr/>
                        <div class="row mt-4">
                            <div class="col-12 d-flex justify-content-center align-items-center">
                                <input type="hidden" value="{{csrf_token}}" id="csrfToken">
                                <button class="btn btn-success" style="width: 100%;" disabled id="submitBtn" onclick="SubmitInvoice()">
                                    Submit Invoice
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="verify_modal" tabindex="-1" role="dialog" aria-labelledby="verifyModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="row" id="verify_img">
                        <div class="col-12">
                            <span class="searchLoader"></span>
                        </div>
                    </div>
                    <div class="row d-none justify-content-center" id="valid_img">
                        <div class="col-6 bg-success text-white d-flex justify-content-center align-items-center" style="border-radius: 50%;width: 150px;height: 150px;">
                            <i class="fa-solid fa-check" style="font-size: 100px;"></i>
                        </div>
                    </div>
                    <div class="row d-none justify-content-center" id="error_img">
                        <div class="col-6 bg-danger text-white d-flex justify-content-center align-items-center" style="border-radius: 50%;width: 150px;height: 150px;">
                            <i class="fa-solid fa-xmark" style="font-size: 100px;"></i>
                        </div>
                    </div>
                    <div class="row mt-4">
                        <div class="col-12 d-flex justify-content-center align-items-center">
                            <h3 class="mb-0" id="verify_message">
                                Checking Fields <span class="text-primary">Validation</span>...!
                            </h3>
                            <h3 class="mb-0 d-none" id="valid_message">
                                Fields are <span class="text-success">VALID</span>.
                            </h3>
                            <h3 class="mb-0 d-none" id="error_message">
                                Fields are <span class="text-danger">INVALID</span>.
                            </h3>
                        </div>
                    </div>
                    <div class="row mt-4" >
                        <div class="col-12" id="error_div">
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="review_modal" tabindex="-1" role="dialog" aria-labelledby="ReviewModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header bg-secondary text-white">
                    <div class="col-3 text-center">
                        <h5 class="modal-title" style="background-color: #212529;border-radius: 5px;">ID #</h5>
                    </div>
                    <div class="col-7 text-center">
                        <h5 class="modal-title" id="ViewExampleModalLongTitle">Invoice Details</h5>
                    </div>
                    <div class="col-2">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                </div>
                <div class="modal-body">
                    <div class="row mb-4">
                        <div class="col-5">
                            <div class="row">
                                <div class="col-5">
                                    <h5>Vendor</h5>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12 text-center">
                                    <h1 id="view_vendor"></h1>
                                </div>
                            </div>
                        </div>
                        <div class="col-7">
                            <div class="row">
                                <div class="col-6">
                                    <h5 style="border-right: 2px solid #212529;">Invoice Number</h5>
                                </div>
                                <div class="col-6">
                                    <h5 id="view_number"></h5>
                                </div>
                            </div>
                            <div class="row mt-2">
                                <div class="col-6">
                                    <h5 style="border-right: 2px solid #212529;">Invoice Date</h5>
                                </div>
                                <div class="col-6">
                                    <h5 id="view_date"></h5>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row mb-4">
                        <div class="col-5">
                            <div class="row">
                                <div class="col-5">
                                    <h5>Bill To</h5>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12 text-center">
                                    <h5 id="view_bill_to"></h5>
                                </div>
                            </div>
                        </div>
                        <div class="col-7">
                            <div class="row">
                                <div class="col-6">
                                    <h5 style="border-right: 2px solid #212529;">P.O. No.</h5>
                                </div>
                                <div class="col-6">
                                    <h5 id="view_po"></h5>
                                </div>
                            </div>
                            <div class="row mt-2">
                                <div class="col-6">
                                    <h5 style="border-right: 2px solid #212529;">Payment Due</h5>
                                </div>
                                <div class="col-6">
                                    <h5><span id="view_due"></span> Days</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row mb-4">
                        <div class="col-5">
                            <div class="row">
                                <div class="col-5">
                                    <h5>Project</h5>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12 text-center">
                                    <h5 id="view_project_name"></h5>
                                </div>
                            </div>
                        </div>
                        <div class="col-7">
                            <div class="row">
                                <div class="col-6">
                                    <h5 style="border-right: 2px solid #212529;">Invoice Type</h5>
                                </div>
                                <div class="col-6">
                                    <h5 id="view_type"></h5>
                                </div>
                            </div>
                            <div class="row mt-2">
                                <div class="col-6">
                                    <h5 style="border-right: 2px solid #212529;">Milestone</h5>
                                </div>
                                <div class="col-6">
                                    <h5 id="view_milestone"></h5>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row mb-4">
                        <div class="col-5 d-flex justify-content-start align-items-center">
                            <h5 style="border-right: 2px solid #212529;width: 100%;">Milestone Description</h5>
                        </div>
                        <div class="col-7">
                            <textarea class="form-control" name="view_milestone_description" id="view_milestone_description" cols="30" rows="2" disabled></textarea>
                        </div>
                    </div>
                    <div class="row mb-4 d-flex justify-content-end align-items-center">
                        <div class="col-7">
                            <div class="card-body bg-dark text-white" style="padding: 20px;border-radius: 5px;">
                                <div class="row">
                                    <div class="col-5">
                                        <h5>Total Amount</h5>
                                    </div>
                                    <div class="col-3 text-center">
                                        <h5>( <span id="ta_view_invoice_currency"></span> )</h5>
                                    </div>
                                    <div class="col-4 text-right">
                                        <h5 id="view_total_amount"></h5>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-5">
                                        <h5>VAT ( <span id="view_invoice_vat"></span> )</h5>
                                    </div>
                                    <div class="col-3 text-center">
                                        <h5>( <span id="vat_view_invoice_currency"></span> )</h5>
                                    </div>
                                    <div class="col-4 text-right">
                                        <h5 id="view_vat_amount"></h5>
                                    </div>
                                </div>
                                <hr/>
                                <div class="row">
                                    <div class="col-5">
                                        <h5>Total</h5>
                                    </div>
                                    <div class="col-3 text-center">
                                        <h5>( <span id="t_view_invoice_currency"></span> )</h5>
                                    </div>
                                    <div class="col-4 text-right">
                                        <h5 id="view_invoice_total"></h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row mb-4">
                        <div class="col-12">
                            <div class="panel panel-default">
                                <div class="panel-heading text-left" style="background-color: #6c757d;padding: 10px 15px;border-radius: 5px;"
                                        role="tab" id="invoice_files">
                                    <h4 class="panel-title m-0">
                                        <div class="row">
                                            <div class="col-9">
                                                <a role="button" data-toggle="collapse"
                                                    style="text-decoration: none;color: #fff;" href="#collapse_invoice_files"
                                                    aria-expanded="false" aria-controls="collapse_invoice_files">
                                                    <i class="fa-solid fa-file-pdf me-1"></i>
                                                    Invoice Attachments
                                                </a>
                                            </div>
                                            <div class="col-3 text-right">
                                                <div class="row">
                                                    <div class="col-12 d-flex justify-content-center align-items-center text-white">
                                                        <h5 class="mb-0 mr-2 pr-2" style="border-right: 2px solid #fff;">Files</h5>
                                                        <h5 class="mb-0" id="total_files"></h5>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </h4>
                                </div>
                                <div id="collapse_invoice_files" class="panel-collapse collapse in" role="tabpanel"
                                    aria-labelledby="invoice_files">
                                    <div class="panel-body">
                                        <div class="card">
                                            <div class="card-body make-my-scrollable" style="max-height: 200px;" id="files_parent">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="submit_modal" tabindex="-1" role="dialog" aria-labelledby="submitModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="row" id="submit_img">
                        <div class="col-12 d-flex justify-content-center align-items-center">
                            <span class="submitLoader"></span>
                        </div>
                    </div>
                    <div class="row d-none justify-content-center" id="submit_valid_img">
                        <div class="col-6 bg-success text-white d-flex justify-content-center align-items-center" style="border-radius: 50%;width: 150px;height: 150px;">
                            <i class="fa-solid fa-check" style="font-size: 100px;"></i>
                        </div>
                    </div>
                    <div class="row d-none justify-content-center" id="submit_error_img">
                        <div class="col-6 bg-danger text-white d-flex justify-content-center align-items-center" style="border-radius: 50%;width: 150px;height: 150px;">
                            <i class="fa-solid fa-xmark" style="font-size: 100px;"></i>
                        </div>
                    </div>
                    <div class="row mt-4">
                        <div class="col-12 d-flex justify-content-center align-items-center">
                            <h3 class="mb-0" id="submit_message">
                                Invoice Is <span class="text-success">Submitting</span>...
                            </h3>
                            <h3 class="mb-0 d-none" id="submit_valid_message">
                                Invoice Submitted <span class="text-success">Successfully</span>.
                            </h3>
                            <h3 class="mb-0 d-none" id="submit_error_message">
                                Invoice <span class="text-danger">Not Submitted</span>.
                            </h3>
                        </div>
                    </div>
                    <div class="row mt-4" >
                        <div class="col-12" id="submit_error_div">
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock %}

