{% load static %}

<div id="layoutSidenav_nav">
    <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
        <div class="sb-sidenav-menu">
            <div class="nav">
                <div class="sb-sidenav-menu-heading">View</div>
                {% if user.role.id == 1 %}

                    {% if '/adminpanal/dashboard/' in request.path %}
                    <a class="nav-link active" href="/adminpanal/dashboard/">
                    {% else %}
                    <a class="nav-link" href="/adminpanal/dashboard/">
                    {% endif %}
                        <div class="sb-nav-link-icon"><i class="fas fa-chart-bar me-1"></i></div>
                        Dashboard
                    </a>


                    {% if '/adminpanal/fusion/add/' in request.path %}
                    <a class="nav-link active" class="btn btn-primary" data-toggle="collapse" href="#fusionSidebar"
                        role="button" aria-expanded="True" aria-controls="fusionSidebar">
                        <div class="sb-nav-link-icon"><i class="fa-solid fa-hard-drive me-1"></i></div>
                        Fusions
                    </a>
                    <div class="collapse show" id="fusionSidebar" style="background-color: #000000c9;">
                        <a class="nav-link active" href="/adminpanal/fusion/add/">
                            <div class="sb-nav-link-icon"><i class="fa-solid fa-plus me-1"></i></div>
                            Add
                        </a>
                        <a class="nav-link" href="/adminpanal/fusion/view/">
                            <div class="sb-nav-link-icon"><i class="fa-solid fa-eye me-1"></i></div>
                            View
                        </a>
                    </div>
                    {% elif '/adminpanal/fusion/view/' in request.path %}
                    <a class="nav-link active" class="btn btn-primary" data-toggle="collapse" href="#fusionSidebar"
                        role="button" aria-expanded="True" aria-controls="fusionSidebar">
                        <div class="sb-nav-link-icon"><i class="fa-solid fa-hard-drive me-1"></i></div>
                        Fusions
                    </a>
                    <div class="collapse show" id="fusionSidebar" style="background-color: #000000c9;">
                        <a class="nav-link" href="/adminpanal/fusion/add/">
                            <div class="sb-nav-link-icon"><i class="fa-solid fa-plus me-1"></i></div>
                            Add
                        </a>
                        <a class="nav-link active" href="/adminpanal/fusion/view/">
                            <div class="sb-nav-link-icon"><i class="fa-solid fa-eye me-1"></i></div>
                            View
                        </a>
                    </div>
                    {% else %}
                    <a class="nav-link" class="btn btn-primary" data-toggle="collapse" href="#fusionSidebar"
                        role="button" aria-expanded="True" aria-controls="fusionSidebar">
                        <div class="sb-nav-link-icon"><i class="fa-solid fa-hard-drive me-1"></i></div>
                        Fusions
                    </a>
                    <div class="collapse" id="fusionSidebar" style="background-color: #000000c9;">
                        <a class="nav-link" href="/adminpanal/fusion/add/">
                            <div class="sb-nav-link-icon"><i class="fa-solid fa-plus me-1"></i></div>
                            Add
                        </a>
                        <a class="nav-link" href="/adminpanal/fusion/view/">
                            <div class="sb-nav-link-icon"><i class="fa-solid fa-eye me-1"></i></div>
                            View
                        </a>
                    </div>
                    {% endif %}


                    {% if '/adminpanal/product/' in request.path %}
                    <a class="nav-link active" href="/adminpanal/product/">
                    {% else %}
                    <a class="nav-link" href="/adminpanal/product/">
                    {% endif %}
                        <div class="sb-nav-link-icon"><i class="fa-solid fa-fire-flame-simple me-1"></i></div>
                        Products
                    </a>



                    {% if '/adminpanal/station/add/' in request.path %}
                    <a class="nav-link active" class="btn btn-primary" data-toggle="collapse" href="#StationSidebar"
                        role="button" aria-expanded="True" aria-controls="StationSidebar">
                        <div class="sb-nav-link-icon"><i class="fa-solid fa-gas-pump me-1"></i></div>
                        Stations
                    </a>
                    <div class="collapse show" id="StationSidebar" style="background-color: #000000c9;">
                        <a class="nav-link active" href="/adminpanal/station/add/">
                            <div class="sb-nav-link-icon"><i class="fa-solid fa-plus me-1"></i></div>
                            Add
                        </a>
                        <a class="nav-link" href="/adminpanal/station/view/">
                            <div class="sb-nav-link-icon"><i class="fa-solid fa-eye me-1"></i></div>
                            View
                        </a>
                    </div>
                    {% elif '/adminpanal/station/view/' in request.path %}
                    <a class="nav-link active" class="btn btn-primary" data-toggle="collapse" href="#StationSidebar"
                        role="button" aria-expanded="True" aria-controls="StationSidebar">
                        <div class="sb-nav-link-icon"><i class="fa-solid fa-gas-pump me-1"></i></div>
                        Stations
                    </a>
                    <div class="collapse show" id="StationSidebar" style="background-color: #000000c9;">
                        <a class="nav-link" href="/adminpanal/station/add/">
                            <div class="sb-nav-link-icon"><i class="fa-solid fa-plus me-1"></i></div>
                            Add
                        </a>
                        <a class="nav-link active" href="/adminpanal/station/view/">
                            <div class="sb-nav-link-icon"><i class="fa-solid fa-eye me-1"></i></div>
                            View
                        </a>
                    </div>
                    {% else %}
                    <a class="nav-link" class="btn btn-primary" data-toggle="collapse" href="#StationSidebar"
                        role="button" aria-expanded="True" aria-controls="StationSidebar">
                        <div class="sb-nav-link-icon"><i class="fa-solid fa-gas-pump me-1"></i></div>
                        Stations
                    </a>
                    <div class="collapse" id="StationSidebar" style="background-color: #000000c9;">
                        <a class="nav-link" href="/adminpanal/station/add/">
                            <div class="sb-nav-link-icon"><i class="fa-solid fa-plus me-1"></i></div>
                            Add
                        </a>
                        <a class="nav-link" href="/adminpanal/station/view/">
                            <div class="sb-nav-link-icon"><i class="fa-solid fa-eye me-1"></i></div>
                            View
                        </a>
                    </div>
                    {% endif %}

                    <!-- {% if '/adminpanal/station/' in request.path %}
                    <a class="nav-link active" href="/adminpanal/station/">
                    {% else %}
                    <a class="nav-link" href="/adminpanal/station/">
                    {% endif %}
                        <div class="sb-nav-link-icon"><i class="fa-solid fa-gas-pump me-1"></i></div>
                        Stations
                    </a> -->

                    
                    {% if '/adminpanal/pump/add/' in request.path %}
                    <a class="nav-link active" class="btn btn-primary" data-toggle="collapse" href="#pumpSidebar"
                        role="button" aria-expanded="True" aria-controls="pumpSidebar">
                        <div class="sb-nav-link-icon"><i class="fa-solid fa-arrow-up-from-water-pump me-1"></i></div>
                        Pumps
                    </a>
                    <div class="collapse show" id="pumpSidebar" style="background-color: #000000c9;">
                        <a class="nav-link active" href="/adminpanal/pump/add/">
                            <div class="sb-nav-link-icon"><i class="fa-solid fa-plus me-1"></i></div>
                            Add
                        </a>
                        <a class="nav-link" href="/adminpanal/pump/view/">
                            <div class="sb-nav-link-icon"><i class="fa-solid fa-eye me-1"></i></div>
                            View
                        </a>
                    </div>
                    {% elif '/adminpanal/pump/view/' in request.path %}
                    <a class="nav-link active" class="btn btn-primary" data-toggle="collapse" href="#pumpSidebar"
                        role="button" aria-expanded="True" aria-controls="pumpSidebar">
                        <div class="sb-nav-link-icon"><i class="fa-solid fa-arrow-up-from-water-pump me-1"></i></div>
                        Pumps
                    </a>
                    <div class="collapse show" id="pumpSidebar" style="background-color: #000000c9;">
                        <a class="nav-link" href="/adminpanal/pump/add/">
                            <div class="sb-nav-link-icon"><i class="fa-solid fa-plus me-1"></i></div>
                            Add
                        </a>
                        <a class="nav-link active" href="/adminpanal/pump/view/">
                            <div class="sb-nav-link-icon"><i class="fa-solid fa-eye me-1"></i></div>
                            View
                        </a>
                    </div>
                    {% else %}
                    <a class="nav-link" class="btn btn-primary" data-toggle="collapse" href="#pumpSidebar"
                        role="button" aria-expanded="True" aria-controls="pumpSidebar">
                        <div class="sb-nav-link-icon"><i class="fa-solid fa-arrow-up-from-water-pump me-1"></i></div>
                        Pumps
                    </a>
                    <div class="collapse" id="pumpSidebar" style="background-color: #000000c9;">
                        <a class="nav-link" href="/adminpanal/pump/add/">
                            <div class="sb-nav-link-icon"><i class="fa-solid fa-plus me-1"></i></div>
                            Add
                        </a>
                        <a class="nav-link" href="/adminpanal/pump/view/">
                            <div class="sb-nav-link-icon"><i class="fa-solid fa-eye me-1"></i></div>
                            View
                        </a>
                    </div>
                    {% endif %}



                    <!-- {% if '/adminpanal/pump/' in request.path %}
                    <a class="nav-link active" href="/adminpanal/pump/">
                    {% else %}
                    <a class="nav-link" href="/adminpanal/pump/">
                    {% endif %}
                        <div class="sb-nav-link-icon"><i class="fa-solid fa-arrow-up-from-water-pump me-1"></i></div>
                        Pumps
                    </a> -->


                    {% if '/adminpanal/nozzle/add/' in request.path %}
                    <a class="nav-link active" class="btn btn-primary" data-toggle="collapse" href="#nozzleSidebar"
                        role="button" aria-expanded="True" aria-controls="nozzleSidebar">
                        <div class="sb-nav-link-icon"><i class="fa-solid fa-filter me-1"></i></div>
                        Nozzles
                    </a>
                    <div class="collapse show" id="nozzleSidebar" style="background-color: #000000c9;">
                        <a class="nav-link active" href="/adminpanal/nozzle/add/">
                            <div class="sb-nav-link-icon"><i class="fa-solid fa-plus me-1"></i></div>
                            Add
                        </a>
                        <a class="nav-link" href="/adminpanal/nozzle/view/">
                            <div class="sb-nav-link-icon"><i class="fa-solid fa-eye me-1"></i></div>
                            View
                        </a>
                    </div>
                    {% elif '/adminpanal/nozzle/view/' in request.path %}
                    <a class="nav-link active" class="btn btn-primary" data-toggle="collapse" href="#nozzleSidebar"
                        role="button" aria-expanded="True" aria-controls="nozzleSidebar">
                        <div class="sb-nav-link-icon"><i class="fa-solid fa-filter me-1"></i></div>
                        Nozzles
                    </a>
                    <div class="collapse show" id="nozzleSidebar" style="background-color: #000000c9;">
                        <a class="nav-link" href="/adminpanal/nozzle/add/">
                            <div class="sb-nav-link-icon"><i class="fa-solid fa-plus me-1"></i></div>
                            Add
                        </a>
                        <a class="nav-link active" href="/adminpanal/nozzle/view/">
                            <div class="sb-nav-link-icon"><i class="fa-solid fa-eye me-1"></i></div>
                            View
                        </a>
                    </div>
                    {% else %}
                    <a class="nav-link" class="btn btn-primary" data-toggle="collapse" href="#nozzleSidebar"
                        role="button" aria-expanded="True" aria-controls="nozzleSidebar">
                        <div class="sb-nav-link-icon"><i class="fa-solid fa-filter me-1"></i></div>
                        Nozzles
                    </a>
                    <div class="collapse" id="nozzleSidebar" style="background-color: #000000c9;">
                        <a class="nav-link" href="/adminpanal/nozzle/add/">
                            <div class="sb-nav-link-icon"><i class="fa-solid fa-plus me-1"></i></div>
                            Add
                        </a>
                        <a class="nav-link" href="/adminpanal/nozzle/view/">
                            <div class="sb-nav-link-icon"><i class="fa-solid fa-eye me-1"></i></div>
                            View
                        </a>
                    </div>
                    {% endif %}

                    
                    <!-- {% if '/adminpanal/nozzle/' in request.path %}
                    <a class="nav-link active" href="/adminpanal/nozzle/">
                    {% else %}
                    <a class="nav-link" href="/adminpanal/nozzle/">
                    {% endif %}
                        <div class="sb-nav-link-icon"><i class="fa-solid fa-filter me-1"></i></div>
                        Nozzles
                    </a> -->


                    {% if '/adminpanal/screen/add/' in request.path %}
                    <a class="nav-link active" class="btn btn-primary" data-toggle="collapse" href="#screenSidebar"
                        role="button" aria-expanded="True" aria-controls="screenSidebar">
                        <div class="sb-nav-link-icon"><i class="fa-solid fa-display me-1"></i></div>
                        Screens
                    </a>
                    <div class="collapse show" id="screenSidebar" style="background-color: #000000c9;">
                        <a class="nav-link active" href="/adminpanal/screen/add/">
                            <div class="sb-nav-link-icon"><i class="fa-solid fa-plus me-1"></i></div>
                            Add
                        </a>
                        <a class="nav-link" href="/adminpanal/screen/view/">
                            <div class="sb-nav-link-icon"><i class="fa-solid fa-eye me-1"></i></div>
                            View
                        </a>
                    </div>
                    {% elif '/adminpanal/screen/view/' in request.path %}
                    <a class="nav-link active" class="btn btn-primary" data-toggle="collapse" href="#screenSidebar"
                        role="button" aria-expanded="True" aria-controls="screenSidebar">
                        <div class="sb-nav-link-icon"><i class="fa-solid fa-display me-1"></i></div>
                        Screens
                    </a>
                    <div class="collapse show" id="screenSidebar" style="background-color: #000000c9;">
                        <a class="nav-link" href="/adminpanal/screen/add/">
                            <div class="sb-nav-link-icon"><i class="fa-solid fa-plus me-1"></i></div>
                            Add
                        </a>
                        <a class="nav-link active" href="/adminpanal/screen/view/">
                            <div class="sb-nav-link-icon"><i class="fa-solid fa-eye me-1"></i></div>
                            View
                        </a>
                    </div>
                    {% else %}
                    <a class="nav-link" class="btn btn-primary" data-toggle="collapse" href="#screenSidebar"
                        role="button" aria-expanded="True" aria-controls="screenSidebar">
                        <div class="sb-nav-link-icon"><i class="fa-solid fa-display me-1"></i></div>
                        Screens
                    </a>
                    <div class="collapse" id="screenSidebar" style="background-color: #000000c9;">
                        <a class="nav-link" href="/adminpanal/screen/add/">
                            <div class="sb-nav-link-icon"><i class="fa-solid fa-plus me-1"></i></div>
                            Add
                        </a>
                        <a class="nav-link" href="/adminpanal/screen/view/">
                            <div class="sb-nav-link-icon"><i class="fa-solid fa-eye me-1"></i></div>
                            View
                        </a>
                    </div>
                    {% endif %}


                    <!-- {% if '/system/VendorRFQToDo/' in request.path %}
                    <a class="nav-link active" class="btn btn-primary" data-toggle="collapse" href="#RFQ"
                        role="button" aria-expanded="True" aria-controls="RFQ">
                        <div class="sb-nav-link-icon"><i class="fa-solid fa-file-import me-1"></i></div>
                        RFQ
                    </a>
                    <div class="collapse show" id="RFQ" style="background-color: #000000c9;">
                        <a class="nav-link active" href="/system/VendorRFQToDo/">
                            <div class="sb-nav-link-icon"><i class="fa-solid fa-clipboard-list me-1"></i></div>
                            Pending
                        </a>
                        <a class="nav-link" href="/system/VendorRFQDone/">
                            <div class="sb-nav-link-icon"><i class="fa-solid fa-clipboard-check me-1"></i></div>
                            Replyed
                        </a>
                    </div>
                    {% elif '/system/VendorRFQDone/' in request.path %}
                    <a class="nav-link active" class="btn btn-primary" data-toggle="collapse" href="#RFQ"
                        role="button" aria-expanded="True" aria-controls="RFQ">
                        <div class="sb-nav-link-icon"><i class="fa-solid fa-file-import me-1"></i></div>
                        RFQ
                    </a>
                    <div class="collapse show" id="RFQ" style="background-color: #000000c9;">
                        <a class="nav-link" href="/system/VendorRFQToDo/">
                            <div class="sb-nav-link-icon"><i class="fa-solid fa-clipboard-list me-1"></i></div>
                            Pending
                        </a>
                        <a class="nav-link active" href="/system/VendorRFQDone/">
                            <div class="sb-nav-link-icon"><i class="fa-solid fa-clipboard-check me-1"></i></div>
                            Replyed
                        </a>
                    </div>
                    {% else %}
                    <a class="nav-link" class="btn btn-primary" data-toggle="collapse" href="#RFQ"
                        role="button" aria-expanded="True" aria-controls="RFQ">
                        <div class="sb-nav-link-icon"><i class="fa-solid fa-file-import me-1"></i></div>
                        RFQ
                    </a>
                    <div class="collapse" id="RFQ" style="background-color: #000000c9;">
                        <a class="nav-link" href="/system/VendorRFQToDo/">
                            <div class="sb-nav-link-icon"><i class="fa-solid fa-clipboard-list me-1"></i></div>
                            Pending
                        </a>
                        <a class="nav-link" href="/system/VendorRFQDone/">
                            <div class="sb-nav-link-icon"><i class="fa-solid fa-clipboard-check me-1"></i></div>
                            Replyed
                        </a>
                    </div>
                    {% endif %} -->

                {% elif user.role.id == 2 %}
                    {% if '/companypanal/dashboard/' in request.path %}
                    <a class="nav-link active" href="/companypanal/dashboard/">
                    {% else %}
                    <a class="nav-link" href="/companypanal/dashboard/">
                    {% endif %}
                    <!-- <a class="nav-link active" href="/tank/dashboard/"> -->
                        <div class="sb-nav-link-icon"><i class="fas fa-chart-bar me-1"></i></div>
                        Dashboard
                    </a>


                    {% if '/companypanal/ads/live/' in request.path %}
                    <a class="nav-link active" href="/companypanal/ads/live/">
                    {% else %}
                    <a class="nav-link" href="/companypanal/ads/live/">
                    {% endif %}
                        <div class="sb-nav-link-icon"><i class="fa-solid fa-display me-1"></i></div>
                        Ads | Live
                    </a>


                    {% if '/companypanal/ads/upload/' in request.path %}
                    <a class="nav-link active" href="/companypanal/ads/upload/">
                    {% else %}
                    <a class="nav-link" href="/companypanal/ads/upload/">
                    {% endif %}
                        <div class="sb-nav-link-icon"><i class="fa-solid fa-cloud-arrow-up me-1"></i></div>
                        Ads | Upload
                    </a>


                    {% if '/companypanal/ads/edit/' in request.path %}
                    <a class="nav-link active" href="/companypanal/ads/edit/">
                    {% else %}
                    <a class="nav-link" href="/companypanal/ads/edit/">
                    {% endif %}
                        <div class="sb-nav-link-icon"><i class="fa-solid fa-pen-to-square me-1"></i></div>
                        Ads | Edit
                    </a>


                    {% if '/companypanal/ads/delete/' in request.path %}
                    <a class="nav-link active" href="/companypanal/ads/delete/">
                    {% else %}
                    <a class="nav-link" href="/companypanal/ads/delete/">
                    {% endif %}
                        <div class="sb-nav-link-icon"><i class="fa-solid fa-trash-can-arrow-up me-1"></i></div>
                        Ads | Delete
                    </a>


                {% endif %}
                

                {% if '/system/change/password/' in request.path %}
                <a class="nav-link active" href="/system/change/password/">
                    <div class="sb-nav-link-icon"><i class="fa-solid fa-key"></i></div>
                    Change Password
                </a>
                {% else %}
                <a class="nav-link" href="/system/change/password/">
                    <div class="sb-nav-link-icon"><i class="fa-solid fa-key"></i></div>
                    Change Password
                </a>
                {% endif %}


                <!-- {% if '/system/change/password/' in request.path %}
                <a class="nav-link active" href="/system/change/password/" style="position: absolute;bottom: 0px;">
                    <div class="sb-nav-link-icon"><i class="fa-solid fa-key"></i></div>
                    Change Password
                </a>
                {% else %}
                <a class="nav-link" href="/system/change/password/" style="position: absolute;bottom: 0px;">
                    <div class="sb-nav-link-icon"><i class="fa-solid fa-key"></i></div>
                    Change Password
                </a>
                {% endif %} -->
            </div>
        </div>
    </nav>
</div>